[submodule "crops"]
	path = crops
	url = https://github.com/minetest-mods/crops.git
[submodule "farming_plusplus"]
	path = farming_plusplus
	url = https://github.com/MTDad/farming_plusplus.git
[submodule "sickles"]
	path = sickles
	url = https://github.com/t-affeldt/sickles.git